body {
  background-color: rgb(224, 248, 196);
}

#calculator {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 400px;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 7px;
  gap: 15px;
}
#display {
  background-color: gray;
  height: 80px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 70px;
  text-align: right;
}

#digitPad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-left: 35px;
  width: 295px;
}

#operatorsPad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  align-items: flex-start;
  margin-right: 35px;
}

#functionalPad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#displayContainer{
  display: flex;
  justify-content: center;
  
}

#middle {
  display: flex;
  justify-content: center;
}

#bottom {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

button {
  height: 70px;
  width: 70px;
  border-radius: 15px;
  font-size: 25px;
}

.controlBtn {
  height: 50px;
  width: 70px;
  color: white;
  font-weight: 900;
}

#allClearBtn {
  background-color: crimson;
}
#powerBtn {
  background-color: rgb(20, 107, 220);
}
#clearEntryBtn {
  background-color: orange;
}
#themeToggleBtn {
  background-color: green;
}
#projectHeader{
  display: flex;
  gap: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 900;
}
p {
  font-size: 20px;
}
#topLink {
 color: white;
}
#githubLink {
  color: purple;
  font-size: 17px;
}
